@font-face {
    font-family: 'Neutra Display';
    src: url('../fonts/NeutraDisp-Bold.eot');
    src: url('../fonts/NeutraDisp-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeutraDisp-Bold.woff2') format('woff2'),
    url('../fonts/NeutraDisp-Bold.woff') format('woff'),
    url('../fonts/NeutraDisp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.col-lg-6.item {
    width: 50%;
    float: left;
}

#main {
    height: 100vh;
}

#top {
    height: 15%;
}

#beer-table {
    height: 85%;
}

#login {
    margin-top:100px;
}

body.front {
    background: url("../../public/img/bg.png") #333 no-repeat;
    background-size: cover;
    font-family: 'Neutra Display';
    color: #fff;
}

h2 {
    font-size: 5vh;
    margin: 1vh 0;
}

h3 {
    font-size: 5vh;
}

.subtitle {
    font-size: 2vh;
}

.title-beer {
    margin-left: 7vh;
}

.price {
    font-size: 3vh;
}

.circle {
    border: 1px solid #fff;
    width: 5vw;
    text-align: center;
    border-radius: 50%;
    font-size: 3vw;
}

.item.dark {
    background-color: #211d1a;
    opacity: 0.8;
}

.item.light-dark {
    background-color: #2a2623;
    opacity: 0.8;
}


.btn.login {
    padding-top:17px;
    padding-bottom: 17px;
}

.form-control {
    border-radius: 0;
}

.btn-login {
    margin: 20px 0 12px;
    height: 64px;
}

#login-img {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-login, .btn-subscription {
    border: 1px solid #337ab7;
    background-color: rgb(255, 255, 255);
    color: #337ab7;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    width:100%;
    border-radius: 0;
}

.alert {
    border-radius: 0;
}



.clear {
    clear:both;
}

.btn-delete:hover {
    background-color: #A21D21;
    color:#fff;
}

.input-planner {
    height: 64px;
    color: rgba(0,0,0,0.54);
    padding-right: 23px;
    padding-left: 64px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(249, 249, 249);
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.117647);
}

.input-planner.login {
    background: url("../../public/img/IconUsername.svg") no-repeat 26px center;
}

.input-planner.password {
    background: url("../../public/img/IconLock.svg") no-repeat 26px center;
}

p {
    margin:0;
}

.item {
    padding: 1.3vh;
    height: 12.5%;
}

.country-brewery {
    margin-left: 4vw;
    font-size: 3vh;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}



