#main {
    margin-top: 20px;
}

#login {
    margin-top:100px;
}


.btn.login {
    padding-top:17px;
    padding-bottom: 17px;
}

.form-control {
    border-radius: 0;
}

.btn-login {
    margin: 20px 0 12px;
    height: 64px;
}

#login-img {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-login, .btn-subscription {
    border: 1px solid #337ab7;
    background-color: rgb(255, 255, 255);
    color: #337ab7;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    width:100%;
    border-radius: 0;
}

.alert {
    border-radius: 0;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.clear {
    clear:both;
}

.btn-delete:hover {
    background-color: #A21D21;
    color:#fff;
}

.input-planner {
    height: 64px;
    color: rgba(0,0,0,0.54);
    padding-right: 23px;
    padding-left: 64px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(249, 249, 249);
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.117647);
}

.input-planner.login {
    background: url("../../public/img/IconUsername.svg") no-repeat 26px center;
}

.input-planner.password {
    background: url("../../public/img/IconLock.svg") no-repeat 26px center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}



